.fieldName {
    font-size: 30px; 
}

.wrapper {
    margin-left: 50px; 
    margin-top: 50px;
}

.buttonsWrapper {
    margin-top: 30px;
}

.buttonStyle {
    margin-right: 10px;
    background-color: lightblue;
}